@media screen and (max-width: 767px) {
  .menu-port {
    display: flex;
    margin-bottom: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
  }

  .currentLink {
    color: var(--color-logo);
  }

  .menu-btn {
    background: var(--color-main2);
    border-radius: 4px;
    border: none;
    margin: 0 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--color-logo);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      color: var(--color-text1);
    }
  }

  .wall {
    width: 100%;
  }

  .wall-img {
    display: block;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(0%);
    }
  }

  .menu-text-p {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text2);
    margin-bottom: 4px;
  }

  .menu-text-two-p {
    font-size: 16px;
    line-height: 1.87;
    color: var(--color-text3);
  }

  .menu-wall {
    display: flex;
  }

  .menu-wall > li {
    &:last-child {
      margin-bottom: 60px;
    }
  }

  .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .port {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wall-text {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    background: var(--color-text1);
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  .wall-img-overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    background: var(--color-main2);
    border-radius: 4px;
    border: none;
    margin: 0 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--color-logo);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      color: var(--color-text1);
    }
  }

  .currentLink {
    color: var(--color-logo);

    &::after {
      display: block;
      width: 100%;
      height: 4px;
      background: var(--color-logo);
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      content: "";
    }
  }

  .menu-text-p {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text2);
    margin-bottom: 4px;
  }

  .menu-text-two-p {
    font-size: 16px;
    line-height: 1.87;
    color: var(--color-text3);
  }

  .wall {
    width: 354px;
  }

  .wall-img {
    display: block;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(0%);
    }
  }

  .menu-port {
    display: flex;
    margin-bottom: 36px;
    justify-content: center;
    margin-top: 60px;
  }

  .menu-wall {
    display: flex;
  }

  .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &:last-child {
      margin-bottom: 60px;
    }
  }

  .port {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wall-text {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    background: var(--color-text1);
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  .wall-img-overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .menu-btn {
    background: var(--color-main2);
    border-radius: 4px;
    border: none;
    margin: 0 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--color-logo);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      color: var(--color-text1);
    }
  }

  .currentLink {
    color: var(--color-logo);

    &::after {
      display: block;
      width: 100%;
      height: 4px;
      background: var(--color-logo);
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      content: "";
    }
  }

  .menu-text-p {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text2);
    margin-bottom: 4px;
  }

  .menu-text-two-p {
    font-size: 16px;
    line-height: 1.87;
    color: var(--color-text3);
  }

  .wall {
    width: 370px;
  }

  .wall-img {
    display: block;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(0%);
    }
  }

  .menu-port {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }

  .menu-wall {
    display: flex;
  }

  .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .port {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wall-text {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    background: var(--color-text1);
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  .wall-img-overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .wall__img {
    width: 370px;
    height: 295px;
  }
}
