.logo-nav {
  display: flex;
  align-items: center;
}

.log {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-decoration: none;
  margin-right: 90px;
}

.logo {
  color: var(--color-logo);
}

.logo-one {
  color: var(--black-);
}

.logo-two {
  color: var(--color-text1);
}

