:root {
  --color-text1: #ffffff;
  --color-text2: #212121;
  --color-text3: #757575;
  --color-main1-footer: #2f303a;
  --color-main2: #f5f4fa;
  --color-logo: #2196f3;
  --black-: #000000;
  --btn-: #1766a7;
  --color-footer: rgba(255, 255, 255, 0.6);
  --color-head: #c4c4c4;
  --color-picture-box: #f5f4fa;
  --color-client: #afb1b8;
  --color-btn-form: #188ce8;
}
